<html>
    <head>
        <title> Apple Guide </title>
        <link rel="stylesheet" href="/css/chatStyle.css">
    </head>
    <body>
       <h3 class="header"> APPLE GUIDE FOR PUSH API </h3> 
       <span class="info"> Search for Safari in your settings app</span>
        <div class="guideBox">
            <img id="img-1" src="/images/Safari.PNG" alt="Image 1"/>
        </div>
        <span class="info">Go all the way down and press Advanced</span>
        <div class="guideBox">
            <img id="img-2" src="/images/Safari_settings.PNG" alt="Image 2"/>
        </div>
        <span class="info"> Again go all the way down and press Experimantal Features</span>
        <div class="guideBox">
            <img id="img-3" src="/images/Safari_advanced.PNG" alt="Image 3"/>
        </div>
        <span class="info"> Now go down, search for PUSH API and enable it</span>
        <div class="guideBox">
            <img id="img-4" src="/images/Safari_push.PNG" alt="Image 4"/>
        </div>
        
        <h4 class="header"> ADD PWA TO HOMEPAGE </h4>
        <span class="info"> Press the share button at the bottom of the web page</span>
        <div class="guideBox">
            <img id="img-3" src="/images/PWA_share.JPEG" alt="Image 3"/>
        </div>
        <span class="info"> Now go down and press on "Add to Home Page </span>
        <div class="guideBox">
            <img id="img-4" src="/images/Add_to.PNG" alt="Image 4"/>
        </div>

        <a href="index.html">
            <button type="submit" name="BTNapple" id="appleBTN"> HOMEPAGE </button>
        </a>
    </body>
</html>