<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/chatStyle.css">
        <link rel="manifest" href="./manifest.json" crossorigin="use-credentials"/>
        <title> CHAT </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        


    </head>
    <body>
        <p class="titleChat"> CHAT </p>
        
        <form id="chat" action="/chatMessage" method="POST">
            <p id="message"> </p>    
            <div class="userMess" id="messageBox">
                <p id="mess"> Write your message...</p>
                <input type="text" id="chatText" name="chatText"><br>   
                <button id="sendMessage" type="submit"> Send Message </button>
            </div>
        </form>

        <form class="logout" action="/logout" method="POST">
            <div class="logoutBox">
                <button type="submit" id="logoutBTN"> LOG OUT</button>
            </div>

        </form>


        <div class="camera-settings">
            <button id="get-access">Get access to camera</button>
            <video controls preload="metadata" id="camera" width="50%" height="50%"  autoPlay="{true}" playsInline="{true}" muted="{true}"></video>

        </div>

        <script>
            document.querySelector('#get-access').addEventListener('click', async function init(e){
              
                try{
                    const stream = await navigator.mediaDevices.getUserMedia({
                        audio: false,
                        video: {
                            facingMode: { exact: "user" },
                        },
                    })
                    
                    console.log("valore stream: ",stream);
                    const videoTracks = stream.getVideoTracks();
                    const track = videoTracks[0];
                    alert(`Getting video from: ${track.label}`);
                    const preview = document.querySelector('#camera');
    

                    preview.srcObject = stream;
                    document.querySelector('#get-access').setAttribute('hidden', true);
                    preview.play();
                   
    
                    
                    const resize = () => {
                        preview.width = window.innerWidth;
                        preview.height = window.innerHeight;
                    }
                    window.addEventListener('resize', resize);
                    resize();
                }catch(error){
                    alert("errore");
                    console.log("Errore", error);
                }
            })
        </script>
        
       
    </body>
</html>

